@model GardenBuddy.Models.GardenBedViewModels.EditGardenPlantViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PlantGarden</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditPlant">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GardenBedId" value="@Model.PlantGarden.GardenBedId" />
            @*<input type="hidden" asp-for="Pl" value="@Model.PlantGarden.GardenBedId" />*@
            <div class="form-group">
                <label asp-for="PlantGarden.PlantId" class="control-label"></label>
                <select asp-for="PlantGarden.PlantId" class="form-control" asp-items="@Model.PlantList"></select>
                <span asp-validation-for="PlantGarden.PlantId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlantGarden.rowNumber" class="control-label"></label>
                <input asp-for="PlantGarden.rowNumber" class="form-control" />
                <span asp-validation-for="PlantGarden.rowNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlantGarden.plantCount" class="control-label"></label>
                <input asp-for="PlantGarden.plantCount" class="form-control" />
                <span asp-validation-for="PlantGarden.plantCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="PlantGarden.PlantGardenId" />
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href='javascript:history.go(-1)'>Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
