body {
}

/*.imageThumbnail {
    height: 75px;
    Width: 75px
}*/

.flexcontainer {
    display: flex;
    flex-direction: row;
}
.plantButton {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

