@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Garden Buddy, Buddy!</h1>
    <p>Click the Button Below to Get Started on your Garden or View your Garden(s) you have already created.</p>
    <a class="btn btn-primary" asp-action="Index" asp-controller="GardenBeds">Your Garden Awaits</a>
</div>
